/* adding a custom font */
@font-face { font-family: Neon; src: url('Neoneon.otf'); }

/* adding a custom font */
@font-face { font-family: UniSans; src: url('UniSans/UniSansDemo-ThinCAPS.otf'); }


html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* This is where we can set the style of our map div using an id selector (#) */
#map {
    width: 100%;
    height: 100%;
    position: fixed;
    border-style: none;
    border-top: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;


}

/* Style the info box so that it looks like a Leaflet control */
.info {
    font-family: Arial, sans-serif;
    padding: 6px 8px;
    background-color: black;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#elevation-div {position: fixed; bottom: 35px; left: 65%; height: 25%; width: 35%; padding: 0; margin: 0; z-index: 104; font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

.gpx-summary { font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; font-size: 12px; position:fixed; bottom: 35px; left: 65%; background-color: rgb(70, 130, 180); padding-inline: 5px;

    padding-inline-start: 5px;
    padding-inline-end: 5px;

    border-radius: 20px;

    display: inline-block;
    color: white;
    width: 34%;
    height: 20px;
}
.gpx-summary .summaryvalue { font-weight: bold; }

#name {
    position: fixed;
    bottom: 29%;
    left: 65%;
    background-color: rgba(70, 130, 180, 1);
    display: inline-block;
    padding-inline: 5px;
    border-radius: 20px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; font-size: 12px;
    font-palette: light;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}

#title-div {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(23, 74, 117, 0.59);
    font-family: UniSans;
    color: white;
    font-size: 30px;
    border-bottom-left-radius: 20px;
}

#small-text {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: white;
}

